*{
    margin: 0;
    padding: 0;
}

.add__input{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 400px; */
}

.AddBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}