@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Inter:wght@200&family=Nunito+Sans:wght@400;600;700&family=Open+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400&family=Inter:wght@200&family=Nunito+Sans:wght@400;600;700&family=Open+Sans:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1900px) {
  .mobile {
    display: none;
  }
  .mainBlockMobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  .mobile {
    display: none;
  }
  .mainBlockMobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .mobile {
    display: none;
  }
  .mainBlockMobile {
    display: none;
  }
}

@media (max-width: 776px) {
  .mobile {
    display: none;
  }
  .mainBlockMobile {
    display: none;
  }
}

@media (max-width: 450px) {
  .pc {
    display: none;
  }
  .mainBlock {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mainBlockMobile {
    display: block;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
.navbar__it {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}
.navbar__i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.i {
  list-style-type: none;
}
.sign {
  border: none;
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
  color: white;
  background-color: rgba(13, 58, 86, 1);
}
.language button {
  border: 3px solid #04121b;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: #04121b;
  background-color: initial;
  margin-right: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language svg {
  margin: 0 5px;
}

/* .pc {
  height: 750px;
} */

/* .homePageBlock {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.homePageBlockItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 110px;
}
.homePageBlockTitle {
  margin: 0;
  height: auto;
}
.homePageBlockTitle h1 {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 65px;
  text-align: center;
  line-height: 65px;
  font-weight: 700;
  margin-bottom: 10px;
}
.homePageBlockText p {
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
}
.homePageBlockText2 p {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin: 20px 0px 10px 0px;
}
.homePageBlockInput input {
  width: 500px;
  height: 50px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 23px;
}
.homePageBlockInput button {
  width: 150px;
  height: 52px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  color: white;
  background-color: rgba(13, 58, 86, 1);
  font-weight: 600;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.mobile {
  width: 100%;
}  */
/* .navbarMobile__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navbarMobile__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
}
.navbarMobile__item button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: rgba(13, 58, 86, 1);
  font-weight: 600;
}
.mobileHomePageBlock {
  background-image: url("../static/finishhhhh\ 1.png");
  width: 100%;
  height: 850px;
}
.mobileHomePageBlock__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
}
.mobileHomePageBlock__title h1 {
  color: white;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
}
.mobileHomePageBlock__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 13px;
  padding-left: 25px;
  padding-right: 25px;
}
.watchP {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}
.readyP {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.inputs {
  width: 100%;
}
.inputs input {
  width: 220px;
  height: 50px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 10px;
}

.inputs input:focus {
  border: none;
  outline: none;
}
.inputs button {
  width: 100px;
  height: 50px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(13, 58, 86, 1);
  font-weight: bold;
} */

.containerPayment {
  font-family: "Cairo", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  line-height: 2;
}
.choosehowtopay :first-child(h4) {
  display: flex;
  margin-top: 15px;
}
.textSecond {
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
}

.blob.grey {
  background: #d7d7d7;
  box-shadow: inset 0px 3.29715px 21.4315px rgba(105, 105, 105, 0.38);
  animation: pulse-grey 2s infinite;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 50px;
  height: 50px;
  margin-left: 215px;
}

@keyframes pulse-grey {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(119, 115, 115, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
#creditcard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-style: groove;
  border-radius: 10px;
}
span {
  margin: 10px;
}

/* third page css */
/* #animContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
} */
#animContainer {
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  /* height: 100%; */
  /* position: relative;
  top: 0;
  height: auto; */
  /* height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

#blob.green {
  /* background:  rgba(95, 180, 94, 0.8); */
  background: rgba(95, 180, 94, 1);
  box-shadow: inset 0px 3.29715px 21.4315px rgba(105, 105, 105, 0.38);
  animation: pulse-green 2s infinite;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 50px;
  height: 50px;
  margin-left: 215px;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(167, 224, 167);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #ffffff;
  }
}

#btnToWatch {
  font-family: Cairo;

  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 350px;
  height: 60px;
  text-align: center;
  background: #04121b;
  border-radius: 13.6686px;
}

#containerPayment {
  font-family: "Cairo", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  line-height: 2;
}
#choosehowtopay :first-child(h4) {
  display: flex;
  margin-top: 15px;
}
#textSecond {
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
}