@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* * {
  margin: 0 auto;
} */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../static/blur.png") !important; */
  /* height: 1000px; */
}
.SignInCard {
  display: flex; /* задаем контейнеру flex-контейнер */
  justify-content: center; /* выравнивание по горизонтали */
  align-items: center; /* выравнивание по вертикали */
  /* max-width: 1200px; */
  width: 400px;
  height: 500px;
  /* left: 500px; */
  background-color: rgba(4, 18, 27, 0.65);
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(3px);
  color: white;
}
.myinputs {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 70px;
  margin-right: 60px; */
  gap: 20px;
  flex-direction: column;
}
.SignInText {
  width: 140px;
}
.Next {
  width: 235px;
  height: 30px;
  background-color: rgb(41, 93, 125);
  color: #fff;
  border-radius: 6px;
  border: none;
}
.ThirdInput {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
#filled-basic {
  color: white;
  background-color: rgb(114, 111, 111);
  height: 10px;
  width: 210px;
  border-radius: 5px;
}
